

# MPLabX gitignore:
*.d
*.err
*.i
*.lst
*.map
*.o
*.obj
*.obj.dmp
*.pre
*.p1
*.sdb
*.sym
html/
nbproject/private/
nbproject/Package-*.bash
build/
debug/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
